{% extends 'base.html.twig' %}
{% block title %}{{ post.title }}{% endblock %}
{% block body %}
    {{ form_start(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.body) }}

        <button type="submit">Update</button>

    {{ form_end(form) }}
{% endblock %}